@using MVCWorkshop.Data.Entities
@{
    ViewData["Title"] = "Home Page";
}
@model IReadOnlyList<News>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<h1>
    @Model.Count Items

</h1>