@{
    ViewData["Title"] = "Admin Page";
}

<h1>Welcome to the admin page</h1>

<div class="list-group">
    <a type="button" asp-controller="Categories" asp-action="AdminIndex" class="list-group-item list-group-item-action">Categories</a>
    <a type="button" asp-controller="News" asp-action="AdminIndex" class="list-group-item list-group-item-action">News</a>
</div>