@using MVCWorkshop.Data.Entities
@model Category
<h1>Create Category</h1>
<form class="" asp-controller="Categories" asp-action="CreateCategory" method="post">
    <div class="form-group">
        <label class="" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <button type="submit" class="btn btn-primary mt-4">Create</button>
</form>